<div class="bluray reg " onclick="clickOnBluray(this)">
    <div class="sign-in ">
        <div class="close-line">
            <span onclick="clickOnClose(this)">
                <svg>
                    <use xlink:href="/main.svg#close-svg"></use>
                </svg>
            </span>
        </div>
        <img src="/images/logo.svg" alt="">
        <div class="inp-block">
            <h3>Enter your username:</h3>
            <input type="text" name="login" placeholder="Username...">
            <h3>Enter your password:</h3>
            <div class="password">
                <input type="password" name="password" placeholder="Password...">
                <span>
                    <svg>
                        <use xlink:href="/main.svg#eye-svg"></use>
                    </svg>
                </span>
            </div>
            <h3>Enter your password again:</h3>
            <div class="password">
                <input type="password" name="passwordAgain" placeholder="Password again...">
                <span>
                    <svg>
                        <use xlink:href="/main.svg#eye-svg"></use>
                    </svg>
                </span>
            </div>
            
        </div>
        <button>Sign up</button>
    </div>
</div>
