<footer>
    <div class="flex-footer">
        <hr>
        <a href="https://github.com/EV1L46rus/babaev">
            <svg>
                <use xlink:href="/main.svg#git-svg"></use>
            </svg>
        </a>
    </div>
</footer>
</body>