<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <%- locals.headLink %>
        <script src="/script.js" defer></script>
        <link rel="icon" href="/images/logo.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>
            <%= locals.title || 'Web' %>
        </title>
</head>

<body>
    <header>
        <div class="flex-header">
            <a href="/" class="home-header">
                <svg>
                    <use xlink:href="/main.svg#home-svg"></use>
                </svg>
                Home
            </a>
            <div class="search">
                <input type="text" placeholder="Search....">
                <button>
                    <svg>
                        <use xlink:href="/main.svg#search-svg"></use>
                    </svg>
                </button>
            </div>
            <span class="burger" onclick="openBurger()">
                <svg>
                    <use xlink:href="/main.svg#burger-svg"></use>
                </svg>
            </span>
            <%if (locals.token == 0){%>
                <div class="auth-btn">
                    <span class="auth" onclick="openAuth('signIn')">Sign in</span>
                    <span>or</span>
                    <span class="auth" onclick="openAuth('signUp')">Sign up</span>
                </div>
            <%}else{%>
                <div class="user-block">
                    <div class="profile-btn">
                        <svg>
                            <use xlink:href="/main.svg#love-svg"></use>
                        </svg>
                    </div>
                    <div class="profile-btn">
                        <svg>
                            <use xlink:href="/main.svg#profile-svg"></use>
                        </svg>
                    </div>
                </div> 
            <%}%>
        </div>
    </header>

    <div class="bluray burger">
        <div class="burger-menu">
            <div class="scroll-block">
                <h5>Select type:</h5>
                <div class="sorting-menu">
                    <a href="?">Селективная парфимерия</a>
                    <a href="?">Женская парфимерия</a>
                    <a href="?">Ароматы для дома</a>
                    <a href="?">UNISEX</a>
                </div>
                <h5>Profile:</h5>
                <%if (locals.token == 0){%>
                    <span class="auth" onclick="clickOnClose(this), openAuth('signIn')">Sign in</span>
                    <span class="auth" onclick="clickOnClose(this), openAuth('signUp')">Sign up</span>
                <%}else{%>
                    <div class="user-block">
                        <a href="">
                            <svg>
                                <use xlink:href="/main.svg#profile-svg"></use>
                            </svg>
                            <span>Your profile</span>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="/main.svg#cart-svg"></use>
                            </svg>
                            <span>Your cart</span>
                        </a>
                        <a href="">
                            <svg>
                                <use xlink:href="/main.svg#love-svg"></use>
                            </svg>
                            <span>Your favorite</span>
                        </a>
                    </div> 
                <%}%>
            </div>
            <div class="close" onclick="clickOnClose(this)">
                <svg>
                    <use xlink:href="/main.svg#close-svg"></use>
                </svg>
                <span>Close</span>
            </div>
        </div>
    </div>