<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <%- locals.headLink %>
        <script src="/script.js" defer></script>
        <link rel="icon" href="/images/logo.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>
            <%= locals.title || 'Web' %>
        </title>
</head>

<body>
    <header>
        <div class="flex-header">
            <a href="/" class="home-header">
                <svg>
                    <use xlink:href="/main.svg#home-svg"></use>
                </svg>
                Home
            </a>
            <div class="search">
                <input type="text" placeholder="Search....">
                <button>
                    <svg>
                        <use xlink:href="/main.svg#search-svg"></use>
                    </svg>
                </button>
            </div>
            <div class="auth-btn">
                <span class="auth">Sign in</span>
                <span>or</span>
                <span class="auth" onclick="openAuth('signUp')">Sign up</span>
            </div>
        </div>
    </header>
