*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  overflow: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  overflow-y: hidden;
}

pre {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s;
}
a:focus-visible {
  outline: 0;
}

input {
  background: 0;
  border: 0;
}
input:focus-visible {
  outline: 0;
}
input::-moz-placeholder {
  color: lightgray;
}
input::placeholder {
  color: lightgray;
}

textarea {
  background: 0;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
}
textarea:focus-visible {
  outline: 0;
}

button {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background: lightseagreen;
  color: white;
  z-index: 1;
}
header .flex-header {
  width: 80%;
  height: 60px;
  margin: auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
header .flex-header a {
  display: inline-block;
  color: white;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 36px;
  transition: color 0.2s;
}
header .flex-header a svg {
  width: 36px;
  height: 36px;
  fill: white;
  transition: fill 0.2s;
}
header .flex-header a:hover {
  color: lightgrey;
}
header .flex-header a:hover svg {
  fill: lightgrey;
}
header .flex-header .search {
  width: calc(80% - 284px);
  height: 36px;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
}
header .flex-header .search input {
  width: calc(100% - 36px);
  height: 36px;
  padding: 0 10px;
  color: white;
}
header .flex-header .search button {
  width: 36px;
  height: 36px;
}
header .flex-header .search button svg {
  width: 24px;
  height: 24px;
  fill: white;
  transition: fill 0.2s;
}
header .flex-header .search button:hover svg {
  fill: lightgrey;
}
header .flex-header .search .result-search {
  position: absolute;
  display: none;
  width: calc(60% - 250px);
  height: 300px;
  background-color: rgba(32, 178, 170, 0.8);
  top: 66px;
  border-radius: 5px;
  box-shadow: 0, 0, 15px, grey;
}
header .flex-header .search .result-search.show {
  display: inline;
}
header .flex-header .search .result-search a {
  display: inline-block;
  padding: 0 6px;
  width: 100%;
  height: 36px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}
header .flex-header .burger {
  display: none;
}
header .flex-header .auth-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  display: flex;
}
header .flex-header .auth-btn .auth {
  text-decoration: underline;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: color 0.2s;
  margin: 0;
}
header .flex-header .auth-btn .auth:hover {
  color: lightgrey;
}
header .flex-header .auth-btn span {
  line-height: 36px;
  font-size: 20px;
  margin: 0 6px;
}
header .flex-header .user-block {
  display: flex;
}
header .flex-header .user-block .profile-btn {
  width: 36px;
  height: 36px;
  margin: 0 6px;
  cursor: pointer;
}
header .flex-header .user-block .profile-btn svg {
  width: 36px;
  height: 36px;
  fill: white;
  transition: fill 0.2s;
}
header .flex-header .user-block .profile-btn:hover svg {
  fill: lightgrey;
}

@media screen and (max-width: 1000px) {
  header .flex-header {
    width: 100%;
  }
  header .flex-header .search .result-search {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  header .flex-header .search {
    width: calc(100% - 150px);
  }
  header .flex-header .search .result-search {
    width: calc(100% - 100px);
  }
  header .flex-header .burger {
    display: inline-block;
    cursor: pointer;
  }
  header .flex-header .burger svg {
    width: 36px;
    height: 36px;
    stroke: white;
    transition: stroke 0.2s;
  }
  header .flex-header .burger:hover svg {
    stroke: lightgrey;
  }
  header .flex-header .auth-btn {
    display: none;
  }
  header .flex-header .user-block {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  header .flex-header .home-header {
    font-size: 0;
    width: 36px;
  }
  header .flex-header .search {
    width: calc(100% - 100px);
  }
  header .flex-header .auth-btn .auth {
    font-size: 16px;
  }
  header .flex-header .auth-btn span {
    font-size: 16px;
  }
}
footer {
  width: 100%;
  height: 60px;
  background-color: lightseagreen;
  margin-top: auto;
}
footer .flex-footer {
  position: relative;
  width: 80%;
  height: 60px;
  padding: 12px;
  margin: auto;
}
footer .flex-footer hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  background-color: white;
  margin: 18px 0;
}
footer .flex-footer a {
  position: absolute;
  left: calc(50% - 50px);
  top: 0;
  display: inline-block;
  width: 100px;
  height: 60px;
  padding: 12px;
  background-color: lightseagreen;
}
footer .flex-footer a svg {
  width: 36px;
  height: 36px;
  margin: auto;
  fill: white;
  transition: fill 0.2s;
}
footer .flex-footer a:hover svg {
  fill: lightgrey;
}

.bluray {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  overflow: hidden;
  z-index: 10;
}
.bluray.show {
  opacity: 1;
  pointer-events: all;
}
.bluray.drop {
  background-color: rgba(0, 0, 0, 0);
}

.sign {
  position: fixed;
  top: calc(50% - 260px);
  left: calc(50% - 200px);
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.2s;
}
.sign.show {
  opacity: 1;
  pointer-events: all;
}
.sign .close-line {
  width: 100%;
  height: 50px;
  display: flex;
}
.sign .close-line span {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 6px;
  margin-left: auto;
  cursor: pointer;
}
.sign .close-line span svg {
  width: 32px;
  height: 32px;
  transition: fill 0.2s;
}
.sign .close-line span:hover {
  fill: grey;
}
.sign img {
  width: 100px;
  height: 100px;
  margin: auto;
}
.sign .inp-block {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px auto;
  text-align: left;
  color: grey;
}
.sign .inp-block input {
  width: 100%;
  height: 36px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 6px 0;
  padding: 0 10px;
}
.sign .inp-block .err {
  display: inline-block;
  margin-bottom: 12px;
  color: red;
}
.sign .inp-block .password {
  display: flex;
  width: 100%;
  height: 36px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 6px 0;
}
.sign .inp-block .password input {
  width: calc(100% - 36px);
  margin: 0;
  border: 0;
}
.sign .inp-block .password span {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 6px;
  cursor: pointer;
}
.sign .inp-block .password span svg {
  width: 24px;
  height: 24px;
  fill: grey;
}
.sign .inp-block .password span:hover svg {
  fill: lightseagreen;
}
.sign button {
  width: calc(100% - 24px);
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: lightseagreen;
  border-top: 1px solid lightgrey;
  transition: color 0.2s;
}
.sign button:hover {
  color: grey;
}
@keyframes ldio-gb0fox8s45 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.sign .loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.sign .loader.show {
  opacity: 1;
  pointer-events: all;
}
.sign .loader .loader-parrent {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0;
}
.sign .loader .loader-parrent div {
  animation: ldio-gb0fox8s45 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 20px solid lightseagreen;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
}

@media screen and (max-width: 430px) {
  .sign {
    width: 90%;
    left: 5%;
  }
}
.burger-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: white;
  transition: 0.2s;
}
.burger-menu.show {
  right: 0;
}
.burger-menu .scroll-block {
  width: 100%;
  max-height: calc(100vh - 60px);
  padding: 12px;
  overflow-y: scroll;
}
.burger-menu .scroll-block::-webkit-scrollbar {
  width: 0;
}
.burger-menu .scroll-block h5 {
  display: inline-block;
  width: 100%;
  height: 20px;
  text-align: left;
  color: grey;
  margin: 0;
}
.burger-menu .scroll-block .sorting-menu {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.burger-menu .scroll-block .sorting-menu a {
  display: inline-block;
  width: 100%;
  height: 36px;
  padding: 12px;
  line-height: 12px;
  color: black;
  text-align: left;
  transition: 0.2s;
}
.burger-menu .scroll-block .sorting-menu a:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.burger-menu .scroll-block .auth {
  display: inline-block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.burger-menu .scroll-block .auth:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.burger-menu .scroll-block .user-block {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.burger-menu .scroll-block .user-block a {
  display: flex;
  width: 100%;
  height: 36px;
  padding: 6px;
  line-height: 24px;
  color: black;
  transition: color 0.2s;
}
.burger-menu .scroll-block .user-block a svg {
  width: 24px;
  height: 24px;
  margin: 0 6px;
  transition: fill 0.2s;
}
.burger-menu .scroll-block .user-block a:hover {
  color: lightseagreen;
}
.burger-menu .scroll-block .user-block a:hover svg {
  fill: lightseagreen;
}
.burger-menu .scroll-block .user-block a.sigh-out {
  color: red;
}
.burger-menu .scroll-block .user-block a.sigh-out svg {
  stroke: red;
  transition: stroke 0.2s;
}
.burger-menu .scroll-block .user-block a.sigh-out:hover {
  color: darkred;
}
.burger-menu .scroll-block .user-block a.sigh-out:hover svg {
  stroke: darkred;
}
.burger-menu .close {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 12px;
  margin-top: auto;
  cursor: pointer;
  border-top: 1px solid lightgrey;
}
.burger-menu .close svg {
  width: 36px;
  height: 36px;
  margin: 0 6px;
  fill: lightseagreen;
  transition: fill 0.2s;
}
.burger-menu .close span {
  display: inline-block;
  height: 36px;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  color: lightseagreen;
  text-align: left;
  transition: color 0.2s;
}
.burger-menu .close:hover svg {
  fill: grey;
}
.burger-menu .close:hover span {
  color: grey;
}

.drop-down {
  position: fixed;
  top: 60px;
  right: 10%;
  width: 150px;
  background-color: white;
  box-shadow: 0 0 15px grey;
  border-radius: 5px;
}
.drop-down a {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.drop-down a svg {
  width: 24px;
  height: 24px;
  margin: 7px;
  transition: fill 0.2s;
}
.drop-down a span {
  color: black;
  font-size: 18px;
  transition: color 0.2s;
}
.drop-down a:hover svg {
  fill: lightseagreen;
}
.drop-down a:hover span {
  color: lightseagreen;
}
.drop-down a.sign-out svg {
  fill: none;
  stroke: red;
  transition: stroke 0.2s;
}
.drop-down a.sign-out span {
  color: red;
}
.drop-down a.sign-out:hover svg {
  stroke: darkred;
}
.drop-down a.sign-out:hover span {
  color: darkred;
}

@media screen and (max-width: 1000px) {
  .drop-down {
    right: 12px;
  }
}
.home-page {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 120px);
}
.home-page .sorting-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60px;
  margin: 0 auto;
}
.home-page .sorting-menu a {
  display: flex;
  width: 20%;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 6px;
  font-size: 18px;
  transition: 0.2s;
}
.home-page .sorting-menu a:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.home-page .sorting-menu hr {
  height: 36px;
}
.home-page .item-block {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-page .item-block .item {
  width: 300px;
  margin: 12px;
  padding: 12px;
  border: 1px solid lightgrey;
}
.home-page .item-block .item img {
  width: 100%;
  height: 300px;
}
.home-page .item-block .item a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: black;
  transition: color 0.2s;
}
.home-page .item-block .item a:hover {
  color: lightseagreen;
}
.home-page .item-block .item .flex-btn {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
}
.home-page .item-block .item .flex-btn span {
  display: inline-block;
}
.home-page .item-block .item .flex-btn span svg {
  width: 36px;
  height: 36px;
  fill: lightseagreen;
  transition: fill 0.2s;
  cursor: pointer;
}
.home-page .item-block .item .flex-btn span svg:hover {
  fill: grey;
}
.home-page .item-block .item .flex-btn h3 {
  line-height: 36px;
}
.home-page .item-block .item .flex-btn .cart {
  width: 150px;
  height: 36px;
  line-height: 36px;
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .home-page .sorting-menu {
    width: 100%;
  }
  .home-page .item-block {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .home-page .sorting-menu {
    display: none;
  }
  .home-page .item-block .item {
    margin: 12px auto;
  }
}
.item-page {
  width: 80%;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 12px;
}
.item-page .flex-block {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.item-page .flex-block .img-block {
  width: 400px;
  overflow: hidden;
}
.item-page .flex-block .img-block img {
  width: 100%;
  height: 400px;
  border: 1px solid grey;
  border-radius: 5px;
}
.item-page .flex-block .img-block .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 12px 0;
}
.item-page .flex-block .img-block .btn span {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.item-page .flex-block .img-block .btn span svg {
  width: 40px;
  height: 40px;
  fill: lightseagreen;
  transition: fill 0.2s;
}
.item-page .flex-block .img-block .btn span:hover svg {
  fill: rgba(32, 178, 170, 0.8);
}
.item-page .flex-block .img-block .btn .price {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}
.item-page .flex-block .img-block .btn .in-cart {
  width: calc(100% - 152px);
  height: 40px;
  background-color: lightseagreen;
  border-radius: 10px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.item-page .flex-block .img-block .btn .in-cart:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.item-page .flex-block .text-block {
  width: calc(100% - 420px);
  height: 200px;
  margin: 0 10px;
  text-align: left;
}
.item-page .flex-block .text-block h3 {
  display: inline-block;
  width: 100%;
  font-weight: normal;
}
.item-page .flex-block .text-block pre {
  display: inline-block;
  width: 100%;
  margin-top: 12px;
  color: grey;
  font-size: 16px;
}
.item-page h2 {
  text-align: left;
  margin-top: 24px;
}
.item-page .recommendation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: auto;
  overflow: hidden;
}
.item-page .recommendation .arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.item-page .recommendation .arrow svg {
  width: 30px;
  height: 30px;
  margin: 9px;
  transition: fill 0.2s;
}
.item-page .recommendation .arrow:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.item-page .recommendation .arrow:hover svg {
  fill: lightseagreen;
}
.item-page .recommendation .arrow.back svg {
  transform: rotate(180deg);
}
.item-page .recommendation .items {
  display: flex;
  width: calc(100% - 100px);
  height: 200px;
  overflow-x: scroll;
}
.item-page .recommendation .items::-webkit-scrollbar {
  height: 0;
}
.item-page .recommendation .items .href-item {
  display: inline-block;
  width: 180px;
  height: 180px;
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  overflow: hidden;
}
.item-page .recommendation .items .href-item img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: auto;
}
.item-page .recommendation .items .href-item span {
  display: inline-block;
  width: 100%;
  color: black;
}
.item-page .recommendation .items .href-item:hover {
  box-shadow: 0 0 10px lightgrey;
}

@media screen and (max-width: 1000px) {
  .item-page {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .item-page .recommendation .items {
    min-width: calc(100% - 100px);
  }
  .item-page .recommendation .items .href-item {
    min-width: 180px;
  }
}
@media screen and (max-width: 700px) {
  .item-page .flex-block {
    flex-direction: column;
  }
  .item-page .flex-block .img-block {
    margin: auto;
  }
  .item-page .flex-block .text-block {
    width: 100%;
    margin: 0;
  }
  .item-page .flex-block .text-block h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .item-page .flex-block .text-block pre {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
}
@media screen and (max-width: 440px) {
  .item-page .flex-block .img-block {
    width: 350px;
    overflow: hidden;
  }
  .item-page .flex-block .img-block img {
    width: 100%;
    height: 350px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .item-page .flex-block .img-block .btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 12px 0;
  }
  .item-page .flex-block .img-block .btn span {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .item-page .flex-block .img-block .btn span svg {
    width: 40px;
    height: 40px;
    fill: lightseagreen;
    transition: fill 0.2s;
  }
  .item-page .flex-block .img-block .btn span:hover svg {
    fill: rgba(32, 178, 170, 0.8);
  }
  .item-page .flex-block .img-block .btn .price {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  .item-page .flex-block .img-block .btn .in-cart {
    width: calc(100% - 152px);
    height: 40px;
    background-color: lightseagreen;
    border-radius: 10px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  .item-page .flex-block .img-block .btn .in-cart:hover {
    background-color: rgba(32, 178, 170, 0.8);
  }
}
.error {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.error svg {
  fill: white;
  stroke: orange;
  width: 100px;
  height: 100px;
}
.error h1 {
  text-transform: uppercase;
}

.admin-page {
  display: flex;
  width: 80%;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 12px;
}
.admin-page .menu {
  width: 200px;
}
.admin-page .menu .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 6px;
  margin: 4px 0;
  cursor: pointer;
  line-height: 50px;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.2s;
}
.admin-page .menu .btn.add svg {
  transform: rotate(45deg);
}
.admin-page .menu .btn span {
  display: inline-block;
  width: calc(100% - 50px);
  height: 38px;
  line-height: 38px;
  color: black;
}
.admin-page .menu .btn svg {
  width: 38px;
  height: 38px;
}
.admin-page .menu .btn:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.admin-page .screen {
  width: calc(100% - 200px);
}
.admin-page .screen .users {
  transition: 0.4s;
  width: 100%;
}
.admin-page .screen .users .admins {
  width: 100%;
}
.admin-page .screen .users .admins h3 {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 0 12px;
  text-align: left;
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 5px;
}
.admin-page .screen .users .admins .administrator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
}
.admin-page .screen .users .admins .administrator span {
  margin: 12px;
  font-size: 18px;
}
.admin-page .screen .users .admins .administrator .remove {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.admin-page .screen .users .admins .administrator .remove svg {
  fill: white;
  stroke: darkred;
  width: 48px;
  height: 48px;
  transition: stroke 0.2s;
}
.admin-page .screen .users .admins .administrator .remove:hover svg {
  stroke: grey;
}
.admin-page .screen .users .all-users {
  width: 100%;
}
.admin-page .screen .users .all-users h3 {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  padding: 0 12px;
  text-align: left;
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 5px;
}
.admin-page .screen .users .all-users .user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
}
.admin-page .screen .users .all-users .user span {
  margin: 12px;
  font-size: 18px;
}
.admin-page .screen .users .all-users .user .add {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.admin-page .screen .users .all-users .user .add svg {
  fill: lightseagreen;
  width: 48px;
  height: 48px;
  transform: rotate(45deg);
  transition: fill 0.2s;
}
.admin-page .screen .users .all-users .user .add:hover svg {
  fill: grey;
}
.admin-page .screen .clear {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}
.admin-page .screen .clear svg {
  width: 150px;
  height: 150px;
  fill: grey;
  margin: auto;
}
.admin-page .screen .clear h1 {
  display: inline-block;
  width: 200px;
  height: 50px;
  color: grey;
  font-size: 22px;
}
.admin-page .screen .add-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 144px);
  position: relative;
}
.admin-page .screen .add-item .flex-add {
  width: 100%;
  display: flex;
}
.admin-page .screen .add-item .flex-add .photo {
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  cursor: pointer;
  transition: 0.2s;
}
.admin-page .screen .add-item .flex-add .photo:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.admin-page .screen .add-item .flex-add .photo img {
  width: 300px;
  height: 300px;
  display: none;
}
.admin-page .screen .add-item .flex-add .photo svg {
  fill: lightseagreen;
  width: 150px;
  height: 150px;
  margin: auto;
}
.admin-page .screen .add-item .flex-add .photo.change img {
  display: block;
}
.admin-page .screen .add-item .flex-add .photo.change svg {
  display: none;
}
.admin-page .screen .add-item .flex-add .descr {
  text-align: left;
  width: calc(100% - 300px);
  padding: 12px;
}
.admin-page .screen .add-item .flex-add .descr input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 6px;
  margin: 6px 0 12px 0;
}
.admin-page .screen .add-item .flex-add .descr input::-moz-placeholder {
  color: grey;
}
.admin-page .screen .add-item .flex-add .descr input::placeholder {
  color: grey;
}
.admin-page .screen .add-item .flex-add .descr input.price {
  width: 150px;
}
.admin-page .screen .add-item .flex-add .descr textarea {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 6px;
  margin: 6px 0 12px 0;
}
.admin-page .screen .add-item .flex-add .descr textarea::-moz-placeholder {
  color: grey;
}
.admin-page .screen .add-item .flex-add .descr textarea::placeholder {
  color: grey;
}
.admin-page .screen .add-item .flex-add .descr select {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 6px;
  margin: 6px 0 12px 0;
}
.admin-page .screen .add-item button {
  width: 100%;
  height: 50px;
  background-color: lightseagreen;
  border-radius: 5px;
  margin-top: auto;
  color: white;
  font-size: 22px;
  transition: 0.2s;
}
.admin-page .screen .add-item button:hover {
  background-color: rgba(32, 178, 170, 0.8);
}

.profile-screen {
  width: 80%;
  min-height: calc(100vh - 120px);
  margin: auto;
  padding: 12px;
}
.profile-screen .flex-profile {
  display: flex;
}
.profile-screen .flex-profile .image-btn {
  width: 300px;
  height: 350px;
}
.profile-screen .flex-profile .image-btn .image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid grey;
}
.profile-screen .flex-profile .image-btn .image svg {
  width: 250px;
  height: 250px;
  margin: 25px;
  fill: grey;
}
.profile-screen .flex-profile .image-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  margin: 7px auto;
  background-color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.profile-screen .flex-profile .image-btn .btn:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.profile-screen .flex-profile .image-btn .btn svg {
  width: 22px;
  height: 22px;
  margin: 7px 2px;
  fill: white;
}
.profile-screen .flex-profile .image-btn .btn span {
  font-weight: bold;
  color: white;
}
.profile-screen .flex-profile .info {
  width: calc(100% - 276px);
  margin: 0 12px;
  text-align: left;
}
.profile-screen .flex-profile .info h3 {
  margin-bottom: 6px;
}
.profile-screen .flex-profile .info input {
  width: calc(100% - 300px);
  height: 36px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 0 10px;
  margin-bottom: 12px;
}
.profile-screen .flex-profile .info .confirm {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: space-evenly;
  width: calc(100% - 300px);
  height: 36px;
  transition: opacity 0.2s;
}
.profile-screen .flex-profile .info .confirm.show {
  opacity: 1;
  pointer-events: all;
}
.profile-screen .flex-profile .info .confirm button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 36px;
  border-radius: 5px;
  background-color: lightseagreen;
  transition: 0.2s;
}
.profile-screen .flex-profile .info .confirm button svg {
  width: 22px;
  height: 22px;
  margin: 7px 2px;
  fill: white;
}
.profile-screen .flex-profile .info .confirm button span {
  font-weight: bold;
  color: white;
}
.profile-screen .flex-profile .info .confirm button:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.profile-screen .flex-profile .info .confirm .cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 36px;
  border-radius: 5px;
  background-color: darkred;
  transition: 0.2s;
  cursor: pointer;
}
.profile-screen .flex-profile .info .confirm .cancel svg {
  width: 22px;
  height: 22px;
  margin: 7px 2px;
  fill: white;
}
.profile-screen .flex-profile .info .confirm .cancel span {
  font-weight: bold;
  color: white;
}
.profile-screen .flex-profile .info .confirm .cancel:hover {
  background-color: red;
}
.profile-screen .flex-href {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}
.profile-screen .flex-href a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 300px;
  border: 6px solid grey;
  border-radius: 5px;
  transition: 0.2s;
}
.profile-screen .flex-href a svg {
  width: 150px;
  height: 150px;
  margin: 0;
  fill: grey;
  transition: fill 0.2s;
}
.profile-screen .flex-href a span {
  font-size: 30px;
  font-weight: bold;
  color: grey;
  transition: color 0.2s;
}
.profile-screen .flex-href a:hover {
  border-color: lightseagreen;
}
.profile-screen .flex-href a:hover svg {
  fill: lightseagreen;
}
.profile-screen .flex-href a:hover span {
  color: lightseagreen;
}

@media screen and (max-width: 1300px) {
  .profile-screen .flex-profile .info input {
    width: 100%;
  }
  .profile-screen .flex-profile .info .confirm {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .profile-screen {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .profile-screen .flex-href {
    flex-direction: column;
  }
  .profile-screen .flex-href a {
    margin: 12px 0;
    width: 100%;
    height: 150px;
  }
  .profile-screen .flex-href a svg {
    width: 100px;
    height: 100px;
  }
  .profile-screen .flex-href a span {
    font-size: 24px;
  }
}
@media screen and (max-width: 760px) {
  .profile-screen .flex-profile {
    flex-direction: column;
    align-items: center;
  }
  .profile-screen .flex-profile .info {
    width: 100%;
  }
  .profile-screen .flex-profile .info input {
    width: 100%;
  }
  .profile-screen .flex-profile .info .confirm {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .profile-screen .flex-profile .info .confirm button {
    width: 40%;
  }
  .profile-screen .flex-profile .info .confirm .cancel {
    width: 40%;
  }
}
.favorite-screen {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: calc(100vh - 120px);
  margin: auto;
  padding: 12px;
}
.favorite-screen h2 {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: rgba(204, 204, 204, 0.4);
  padding: 6px;
  border-radius: 5px;
}
.favorite-screen .items-block {
  width: 100%;
}
.favorite-screen .items-block .list-clear svg {
  width: 150px;
  height: 150px;
  fill: grey;
  margin: 24px;
}
.favorite-screen .items-block .list-clear h3 {
  font-size: 30px;
  color: grey;
}
.favorite-screen .items-block .item {
  width: 100%;
  height: 150px;
}
.favorite-screen .btn-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: auto;
}
.favorite-screen .btn-block .btn {
  display: block;
  width: 40%;
  height: 36px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 36px;
  cursor: pointer;
  transition: 0.2s;
}
.favorite-screen .btn-block .btn.accept {
  background-color: lightseagreen;
}
.favorite-screen .btn-block .btn.accept:hover {
  background-color: rgba(32, 178, 170, 0.8);
}
.favorite-screen .btn-block .btn.remove {
  background-color: darkred;
}
.favorite-screen .btn-block .btn.remove:hover {
  background-color: red;
}/*# sourceMappingURL=main.css.map */