<div class="item-page">
    <div class="flex-block">
        <div class="img-block">
            <img src="/images/items/1.jpg" alt="">
            <div class="btn">
                
                <span>
                    <svg>
                        <use xlink:href="/main.svg#love-svg"></use>
                    </svg>
                </span>
                
                <div class="in-cart"> В корзину</div>
                <div class="price">5000 ₽</div>
            </div>
        </div>
        <div class="text-block">
            <h3>Lorem, ipsum dolor sit amet consectetur adipisicing</h3>
            <pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur id debitis fugit in at dolorum porro dolorem, reiciendis quas praesentium eaque laboriosam. Numquam nam dolorem, eligendi dolor sapiente aperiam dolores!
            Accusamus, cumque, dolorum reprehenderit minus rerum aut velit veritatis distinctio cum optio, dolorem facere quo aperiam maiores? Odio non officia commodi exercitationem repudiandae inventore quos dicta praesentium cum, pariatur aperiam?
            Pariatur nam necessitatibus blanditiis laudantium magni dolore illo placeat repellat, maxime vero repellendus quo veniam autem quia eveniet ullam tempore possimus minima at rerum labore corporis earum! Deserunt, nisi corporis!
            Aut possimus, suscipit accusamus et aliquid rerum maiores vel id repellat, in quaerat, ipsa fugit voluptas optio? Repudiandae recusandae excepturi voluptas itaque labore, explicabo dignissimos quibusdam facilis earum? Deserunt, ipsam.
            Enim a rem fugit quo quidem, recusandae laborum eius suscipit consectetur itaque dolore, ea atque voluptatum sequi labore possimus. Libero vero mollitia incidunt omnis natus voluptatibus repellat reprehenderit nemo temporibus?
            Corrupti aliquam at, exercitationem, mollitia cupiditate enim fugiat repudiandae, voluptates in aspernatur eaque? Pariatur, quos neque. Deleniti inventore tempore numquam assumenda, maiores optio dolorem! Enim voluptatibus sint temporibus expedita modi?
            Laboriosam similique rerum voluptate quia sint, nemo quaerat ratione libero, assumenda repellendus eum corrupti odio atque. Nam, perspiciatis commodi voluptates ex dicta neque sequi eum? Nesciunt quia saepe illum quisquam.
            Aliquam nemo laborum possimus, labore beatae eligendi nam adipisci! Modi fuga, quidem, quis aperiam consectetur ut sunt ipsam praesentium quae, sint repellat dicta nemo. Eius sunt quo quas pariatur eligendi?
            Enim ea aspernatur itaque dolores tenetur repellat animi eum quaerat soluta, ad neque harum assumenda deserunt sapiente iure laboriosam maxime quam officia accusantium perspiciatis nulla consequatur. Quae quidem repellendus reprehenderit.
            Ex consequuntur vitae fugit nulla, libero incidunt ratione unde laudantium, debitis nobis, fugiat nihil eaque mollitia sint eligendi nisi doloremque modi quidem voluptas rerum necessitatibus saepe voluptatum optio obcaecati. Sint.</pre>
        </div>
    </div>
    <h2>Recommendation:</h2>
    <div class="recommendation">
        <span class="arrow back" onclick="scrollRec(this)">
            <svg>
                <use xlink:href="/main.svg#arrow-svg"></use>
            </svg>
        </span>
        <div class="items">
            <a href="/item" class="href-item">
                <img src="/images/items/1.jpg" alt="">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur neque amet laborum aspernatur officia officiis minus atque dolorem molestiae quibusdam ipsum, dolorum porro ratione beatae sed! Labore quidem dolores voluptas!</span>
            </a>       
        </div>
        <span class="arrow next" onclick="scrollRec(this)">
            <svg>
                <use xlink:href="/main.svg#arrow-svg"></use>
            </svg>
        </span>
    </div>
</div>